. {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.header {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  padding: 16px 320px;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header a {
  color: #F9FAF8;
  text-decoration: none;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  gap: 16px;
}

.introduction {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  gap: 32px;
  padding: 160px 320px;
}

.introduction img {
  width: 500px;
}

.hero {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero-sub-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero button {
  padding: 8px 32px;
  width: 150px;
  color: #F9FAF8;
  font-size: 18px;
  background-color: #3882F6;
  border: 0;
  font-weight: bold;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 128px;
}

.content-information {
  margin: 32px 320px 0px 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.content-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  max-width: 300px;
  align-items: center;
}

.card img {
  max-width: 250px;
  border-color: #3882F6;
  border-width: 5px;
  border-style: solid;
  border-radius: 8px;
}

.testimonial {
  color: #1F2937;
  background-color: #E5E7EB;
  padding: 128px 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.quote-author {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

.call-to-action {
  margin-bottom: 64px;
  background-color: #3882F6;
  color: #F9FAF8;
  display: flex;
  padding: 32px 100px;
  border-radius: 8px;
  gap: 64px;
  justify-content: space-between;
}

.cta-header {
  font-weight: 700;
}

.cta-button {
  padding: 0px 32px;
  color: #F9FAF8;
  background-color: #3882F6;
  font-weight: bold;
  border-radius: 8px;
  border-width: 3px;
}

.footer {
  color: #F9FAF8;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}